name: Releaser

on:
  push:
    tags:
      - 'v*'

jobs:
  npm:
    name: npm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.0.2
        # env:
        #   BUN_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        with:
          bun-version: 1.3.3

      - name: Use cached node_modules
        uses: actions/cache@v4.3.0
        with:
          path: node_modules
          key: node-modules-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            node-modules-

      - name: Install Dependencies
        run: bun install

      - name: Publish to npm
        run: ./scripts/publish.sh
        env:
          BUN_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Create GitHub release
        run: bunx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Attach Binaries
        uses: stacksjs/action-releaser@v1.2.7
        with:
          files: |
            packages/bumpx/bin/bumpx-linux-x64.zip
            packages/bumpx/bin/bumpx-linux-arm64.zip
            packages/bumpx/bin/bumpx-windows-x64.zip
            packages/bumpx/bin/bumpx-darwin-x64.zip
            packages/bumpx/bin/bumpx-darwin-arm64.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
